{% extends "bulk/base.html" %}


{%block title%}
<title>register</title>
{%endblock title%}
{% block content %}

<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
</script>
 
<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#date').datepicker();
    })
}
</script>



<div style="width:650px; height:500px; border:1px solid orange; background-color:white; margin-left:300px; margin-top:30px;">

<form action="." method="post" style="margin-left:20px;">
            <fieldset class="">
		{{ form.as_p }}
     <!--<input type="date" id="date" name="date" size="20" />-->
     <input type="submit" >
    
     </fieldset>
  	</form>



	</div>

<!--<form method="get"

<input type="date" id="date" name="date" size="20" />


</form>-->
{% endblock %}


			

