<html>
	<head>
		<title>Welcome To AlertBunny!</title>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
	</head>
	<div id="header">
		<div id=" ">
		</div>
	</div><!-- end of div header -->
	
	<div id="navigation-bar">
		<div id="navigation">
		</div>
	</div><!-- end of div navigation bar -->
	
	
	<body>
		<a href = "/blogg/posts/{{Post.title}}">Posts</a>
		<div id="content">
		
			{% block content %}
			
			{% endblock %}
			
		</div><!-- end of div content -->
		
		<div id="content-below">
			<div id="below">
			</div>
		</div><!-- end of content below -->
	
	</body>
	
</html>
